.lazy {
    $this: &;
    transition: opacity .8s linear .3s;

    &:after {
        background-color: $black;
        content: '';
        height: 100%;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: opacity .7s ease-in .3s;
        will-change: opacity;
        width: 100%;
    }

    &__loaded:after,
    &.loaded:after {
        opacity: 0;
    }
}