.prj-image-summary {
    $this: &;

    background-color: $black;
    color: $white; 
    position: relative;

    &__lead {
        overflow: hidden;
        padding: $component-spacing $gutter-small;
    }

    &__lead-text {
        font-size: $font-size-xsmall;
        line-height: line-height($font-size-xsmall);
    }

    &__image-holder {
        @extend %spinner;
        background-color: $lightgrey;
    }

    &__image {
        height: auto;
        width: 100%;
        
        &.loaded {
            opacity: 1;
        }
    }

    @media only screen and (min-width: $small) {

        &__lead {
            padding-bottom: $component-spacing-small;
            padding-top: $component-spacing-small;
        }

        &__lead-text {
            font-size: $font-size-small;
            line-height: line-height($font-size-small);
        }
    }

    @media only screen and (min-width: $medium) {

        display: flex;

        &__lead {
            align-items: center;
            display: flex;
            flex-basis: (100%/2);
            padding: $component-spacing-medium $gutter-medium;
        }

        &__lead-text {
            font-size: $font-size-medium;
            line-height: line-height($font-size-medium);
        }

        &__image-holder {
            height: 100%;
            overflow: hidden;
            position: absolute;
            right: 0;
            width: (100%/2);
        }

        &__image {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            transform: $scale-start;
            transition: opacity $animate-speed ease-in, transform $animate-very-slow $smooth-easing;
            width: 100%;
        }

        &:hover {
            #{$this}__image {
                transform: $scale-end;
            }
        }
    }

    @media only screen and (min-width: $large) {
        min-height: 100vh;

        &__lead {
            flex-basis: (100%/3*2);
            padding-left: $gutter-large;
            padding-right: $gutter-large;
        }

        &__image-holder {
            width: (100%/3);
        }
    }

    @media only screen and (min-width: $x-large) {
        &__lead {
            padding-left: $gutter-xlarge;
            padding-right: $gutter-xlarge;
        }
    }
}
    