.prj-dual-hero {

    &__image-wrapper {
        @extend %spinner;
    }

    @media only screen and (min-width: $medium) {
        display: flex;
        
        &__image-wrapper {
            flex-basis: 50%;
            height: 100vh;
            overflow: hidden;
            position: relative;
            width: 50%;
        }
        
        &__image {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            transform: $scale-start;
            transition: transform $animate-very-slow $smooth-easing;
            width: 100%;

            &.loaded {
                opacity: 1;
            }

            &:hover {
                transform: $scale-end;
            }
        }
    }
}