.hero {
    height: 100vh;
    position: relative;

    &:after {
        background-color: black;
        content: '';
        height: 100%;
        left: 0;
        opacity: .1;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &__image {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    &__title {
        bottom: 5rem;
        color: $white;
        font-size: $font-size-large;
        left: $gutter-small;
        position: absolute;
        right: $gutter-small;
        z-index: 1;
    }

    @media only screen and (min-width: $medium) {
        height: 125vh;

        &__title {
            bottom: 35vh;
            max-width: 60rem;
            font-size: $font-size-xxxlarge;
            left: $gutter-medium;
            right: $gutter-medium;
        }
    }

    @media only screen and (min-width: $large) {
        &__title {
            font-size: $font-size-super;
            left: $gutter-large;
            right: $gutter-large;
        }
    }
}
