@import "../../../../Style/rules/breakpoints";

.projects {



  &__item {
      cursor: pointer;
      display: flex;
      min-height: 100vh;
      overflow-x: hidden;
  }
    @media (min-width: $large) {
        display: flex;
        flex-wrap: nowrap;
        height: 100vh;

        &__item {
            height: 100%;
            width: (100% / 3);
            flex-basis: (100% / 3);
        }
    }

}
