.navigation {
    $this-speed: $navigation-speed;

    $this: &;
    height: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: height 0s linear $this-speed;
    width: 100%;
    z-index: 2;
    
    &--active {
        height: 100%;
        transition: height 0s;
    }

    &__hamburger {
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 1;
    }

    &__menu {
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: height 0s linear $this-speed, opacity .3s ease-in-out $this-speed;
    }

    &__menu--active {
        height: 100%;
        opacity: 1;
        transition: opacity .3s ease-in-out, height 0s;
    }
    
}
