.home-slider {

    @media only screen and (max-width: ($large - 1)) {
        &__slider {
            width: 100% !important;
        }
    }

    @include media('large') {
        @include slider(#ffffff);

        &__slider {
            table-layout: fixed;
        }
        
        &__slide {
            vertical-align: top;
        }

        &__next-slide {
            background-color: transparentize($white, .6);
            background-image: $arrow-right;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            border-radius: 100%;
            bottom: 0;
            height: 2rem;
            right: 3rem;
            transform: translateY(-100%);
            transition: background-color .3s;
            width: 2rem;

            &:hover {
                background-color: $white;
            }
        }

        &__prev-slide {
            background-color: transparentize($white, .6);
            background-image: $arrow-left;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 50% 50%;
            border-radius: 100%;
            bottom: 0;
            height: 2rem;
            left: 3rem;
            transform: translateY(-100%);
            transition: background-color .3s;
            width: 2rem;

            &:hover {
                background-color: $white;
            }
        }
    }
}