.prj-slider {
    @include vertical-spacing('base', 'top');
    @include vertical-spacing('base', 'bottom');
    background-color: $white;
    display: block;
    z-index: 1;
    
    &__blurb {
        @include guttering();
        @include vertical-spacing('base', 'bottom');
        @include vertical-spacing('base', 'top');
    }

    &__slide {
        @include guttering();
        @include vertical-spacing('base', 'bottom');
        display: inline-block;
        width: 100vw;
        vertical-align: top;
    }

    @include media('medium') {
        @include vertical-spacing('medium', 'bottom');
        align-items: flex-end;
        display: flex;
        padding-top: 0;

        &__blurb {
            flex-basis: (100% / 4);
            padding-bottom: 0;
            padding-top: 0;
        }

        &__slide {
            flex-basis: (100% / 4 * 3);
            padding-bottom: 0;
        }
    }

    &__prev-slide {
        display: none;

        @include media('medium') {
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
            left: -100px;
            position: absolute;
            border-radius: 50%;
            width: 140px;
            height: 140px;
            background-color: rgba(24, 24, 24, 0.85);
            z-index: 2;
        }
    
    }

  &__prev-slide::before {
    content: "";
    left: 108px;
    bottom: 44%;
    transform: translateY(-44%);
    position: absolute;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-right: 4px solid white;
    border-top: 4px solid white;
    border-radius: 2px;
    transform: rotate(-135deg);
    margin-right: 0.5em;
    background: transparent;
  }

  &__prev-slide::after {
    content: "";
    width: 25px;
    height: 4px;
    background: white;
    left: 108px;
    position: absolute;
    bottom: 47%;
    transform: translateY(-48%);
    border-radius: 5px;
  }

  &__next-slide {
    display: none;

    @include media('medium') {
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        right: -100px;
        position: absolute;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        background-color: rgba(24, 24, 24, 0.85);
        z-index: 2;
    }
    
  }

  &__next-slide::before {
    content: "";
    right: 108px;
    bottom: 44%;
    transform: translateY(-44%);
    position: absolute;
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border-right: 4px solid white;
    border-top: 4px solid white;
    border-radius: 2px;
    transform: rotate(45deg);
    margin-left: 0.5em;
    background: transparent;
  }

  &__next-slide::after {
    content: "";
    width: 25px;
    height: 4px;
    background: white;
    right: 108px;
    position: absolute;
    bottom: 47%;
    transform: translateY(-48%);
    border-radius: 5px;
  }

}
