@import "../../Style/rules/index";

.splash {
    background-color: $lightgrey;
    height: 100vh;

    &__logo {
        animation: fadein 3s;
        height: 300px;
        left: 50%;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;

        svg {
            fill: $black;
        }
    
        path {
            fill: $white;
        }
    }
}