@import "../../Style/rules/index";

.splash {
    background-color: $lightgrey;
    height: 100vh;

    &__logo {
        animation: splash 3s ease-out;
        animation-iteration-count: 1;
        height: 300px;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;

        svg {
            fill: $black;
        }
    
        path {
            fill: $white;
        }
    }
}

@keyframes splash {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}