.logo {
  height: 1.75rem;
  left: $gutter-base;
  position: absolute;
  top: 2.5rem;
  width: 1.75rem;
  will-change: transform;
  z-index: 2;

  svg {
    fill: $black;
  }

  path {
    fill: $white;
  }
}
