@import "../../../Style/rules/index";

.about {
    $this: &;
    background-color: $white;

    &__image-container {
        margin-bottom: $component-spacing;
    }

    &__content {
        @include guttering(('base'), 'all');
        padding-bottom: $component-spacing;
    }

    @include media('medium') {
        height: 100vh;

        #{$this}__image-container {
            display: inline-block;
            height: 100%;
            margin-bottom: 0;
            position: relative;
            vertical-align: top;
            width: 50%;
        }

        #{$this}__image {
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
        }

        #{$this}__content {
            display: inline-block;
            max-height: 100%;
            overflow: auto;
            padding-top: $component-spacing;
            vertical-align: top;
            width: 50%;
        }
    }

    @include media('large') {
        #{$this}__image-container {
            width: (100% / 3);
        }

         #{$this}__content {
            @include guttering(('large'), 'right');
            width: (100% / 3 * 2);
         }
    }
}